
@model EventDetailCard
@{
    ViewData["Title"] = "Create";
}

<div class="main-panel">
    <div class="content-wrapper">
        <div class="row">
            <div class="col-md-6 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Create new Card</h4>

                        <form class="forms-sample" method="post" asp-controller="Event" asp-action="Create" enctype="multipart/form-data">
                            <div class="form-group">
                                <label for="exampleInputUsername1">Title</label>
                                <input asp-for="Descr" class="form-control" placeholder="Title">
                                <span asp-validation-for="Descr" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <label for="exampleInputUsername1">Date</label>
                                <input asp-for="StartDate.Date" class="form-control" type="date" placeholder="Example: 01">
                           
                                <span asp-validation-for="StartDate" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label for="exampleInputUsername1">Month</label>
                                <input asp-for="StartDate.Month" class="form-control" type="month" placeholder="Example: JAN">
                                <span asp-validation-for="StartDate" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label for="exampleInputUsername1">Start Time</label>
                                <input asp-for="StartDate.TimeOfDay" class="form-control" type="time" placeholder="Start time">
                                <span asp-validation-for="StartDate" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label for="exampleInputUsername1">End Time</label>
                                <input asp-for="EndDate.TimeOfDay" class="form-control" type="time" placeholder="End Time">
                                <span asp-validation-for="EndDate" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label for="exampleInputUsername1">City</label>
                                <input asp-for="City" class="form-control" placeholder="City">
                                <span asp-validation-for="City" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label for="exampleInputUsername1">Adress</label>
                                <input asp-for="Adress" class="form-control" placeholder="City">
                                <span asp-validation-for="Adress" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <label for="exampleInputUsername1">Image file</label>
                                <input accept="image/*" asp-for="EventImageFile" class="form-control" placeholder="Image File">
                                <span asp-validation-for="EventImageFile" class="text-danger"></span>
                            </div>



                            <div class="form-check form-check-flat form-check-primary">
                                <label class="form-check-label">
                                    <input type="checkbox" class="form-check-input">
                                    Remember me
                                </label>
                            </div>
                            <button type="submit" class="btn btn-primary me-2">Submit</button>
                            <button class="btn btn-light" asp-action="Index">Cancel</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
